.lay1 {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.lay1 .block1 {
  background-color: #009F95;
  text-align: center;
  line-height: 90px;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
}
.lay1 .block2 {
  background-color: #00F7DE;
  text-align: center;
  line-height: 90px;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
}
.lay1 .block3 {
  background-color: #0077AA;
  text-align: center;
  line-height: 90px;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
}
.lay1 .block4 {
  background-color: #00F7DE;
  text-align: center;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  line-height: 90px;
}
.lay1 .blockCenter {
  position: absolute;
  background-color: #1E9FFF;
  width: calc(40%);
  height: calc(30%);
  line-height: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  line-height: 60px;
  transform: translate(-50%, -50%);
}
